<%- include('partials/nav'); %>

<div class="jumbotron jumbotron-fluid grad">
  <div class="container">
    <p class="lead text-white">Bienvenido <%= user.name %></p>
    <h2 class="display-4 text-white">Crear Una Nota !</h2>
    <p class="lead">
      <a
        class="btn btn-dark btn-lg shadow"
        href="/notes/<%= user.UUID%>"
        role="button"
        >Ver Mis Notas <i class="fas fa-plus"></i
      ></a>
    </p>
  </div>
</div>

<div class="container py-4 shadow card">
  <form method="POST">
    <div class="row">
      <div class="col col-md-10 mx-auto">
        <% include ./partials/messages %>

        <div class="from-group">
          <input type="hidden" name="UUID" value="<%= user.UUID%>" />
          <br />
          <label class="text-dark"><h6>Titulo</h6></label>
          <input
            class="form-control"
            type="text"
            placeholder="Title..."
            name="title"
            value="<%= typeof title != 'undefined' ? title : '' %>"
          />
        </div>
        <br />
        <div class="from-group">
          <label class="text-dark"><h6>Nota</h6></label>
          <textarea
            class="form-control"
            name="note"
            cols="30"
            rows="5"
            placeholder="Nota..."
          >
<%= typeof note != 'undefined' ? note : '' %></textarea
          >
        </div>
        <br />
        <div class="col col-md-8 mx-auto">
          <input
            type="submit"
            name="Save"
            class="btn grad btn-block text-white shadow"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<%- include('partials/footer'); %>
