<%- include('partials/nav'); %>

<div class="jumbotron jumbotron-fluid grad">
  <div class="container">
    <p class="lead text-white">Bienvenido <%= user.name %></p>
    <h2 class="display-4 text-white">Mis Notas !</h2>
    <a class="btn btn-dark btn-lg shadow" href="/dashboard" role="button"
      >Dashboard <i class="fas fa-plus"></i
    ></a>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <% if( docs.length > 0 ) { %> <% for ( var i=0 ; i < docs.length ; i++ ) {
    %>

    <div class="col col-md-6 mx-auto">
      <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-header">
          <%= docs[i].date %>
          <div class="card-body">
            <h4 class="card-title"><%= docs[i].title %></h4>
            <p class="card-text"><%= docs[i].note %></p>
          </div>
        </div>
      </div>
    </div>

    <% } %> <% } %>
  </div>
</div>

<%- include('partials/footer'); %>
